ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #969696 transparent;
}
input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 19px 12px;
  cursor: pointer;
  box-shadow: 3px 3px #000000;
  border-width: 1px;
  border-radius: 10px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Roboto';
}

li {
  margin: 10px;
  list-style-type: none;
}
img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
img:hover {
  webkit-filter: blur(0px);
  filter: blur(0px);
  transform: scale(1.1);
  transition: transform .2s; /* Animation */
  
  
}
.photoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttonGallery {
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: normal;
  width: 150px;
  height: 60px;
  border-radius: 10px;
}
